/*full background img*/
.background-img {
min-height: 100vh;
background-image: url(../assets/images/image_bg.png);
}

/*navbar styling*/
.nav-bg-color {
  background-color: cadetblue;
}
.navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

/* styling h1*/
.color {
  color: cadetblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 10px;
}

/*h1 title border*/
.title {
  border-bottom: 2px solid #e5e5e5  
}

/*container padding*/
.content-padding {
 padding-top: 60px;
 padding-bottom: 40px;
}

/*profile img padding*/
.padding-right {
  padding-right: 15px;
  padding-bottom: 10px;
}

/* form padding*/
.form-padding {
  padding-left: 20px;
}
.submit-padding{
  padding-bottom: 25px;
}

/*submit button background color*/
.btn-bg{
  background-color: cadetblue;
}

/*footer styling*/
.footer-color {
background-color: dimgray ;
}
.page-footer {
border-top: 8px solid cadetblue;
}

/* portfolio image layout*/
.image-position {
  padding-bottom: 40px;
  padding-right: 20px;
}
@media screen and (min-width:992px) {
  .image-position{
    width:50%; /* 2 images per row */
    float:left; 
  }
}





